<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Who let the dogs out?</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Search">
                        </div>
                        <div class="col-12 col-md-3">
                            <button style="background-color: #5B95B3; border-color: #5B95B3;" type="submit"
                                class="btn btn-block btn-lg btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<!-- Stuff -->
<div class="container">
    <h3>Pup-ular Spots</h3>
    <div class="row">
        <div class="col-lg-4">
            <img class="thumbnails" src="../img/yard1.jpg" alt="EXPLAINATION">
        </div>
        <div class="col-lg-4">
            <img class="thumbnails" src="../img/yard2.jpg" alt="EXPLAINATION">
        </div>
        <div class="col-lg-4">
            <img class="thumbnails" src="../img/yard3.jpg" alt="EXPLAINATION">
        </div>
    </div>
</div>


<!-- Filtered Results -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>Has High Fence</h3>
            <img class="thumbnails" src="../img/high fence.jpg" alt="EXPLAINATION">
        </div>
        <div class="col-lg-4">
            <h3>Has Water Feature</h3>
            <img class="thumbnails" src="../img/water.jpg" alt="EXPLAINATION">
        </div>
        <div class="col-lg-4">
            <h3>Puppy Play-Date</h3>
            <img class="thumbnails" src="../img/play date.jpg" alt="EXPLAINATION">
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="container">
    <h2 class="mb-5">Testimonials!...</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="../img/testimonial-1.jpg" alt="">
                <h5>Host Nikki</h5>
                <p class="font-weight-light mb-0">"Pup Stop is such a convenient way for me to make some extra money
                    and meet some new furry friends"</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="../img/testimonial-2.jpg" alt="">
                <h5>User Allana</h5>
                <p class="font-weight-light mb-0">"Wow. Not only is this my favorite website but it was made by my
                    favorite team ever! My dog and I have never had this much fun."</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="../img/testimonial-3.jpg" alt="">
                <h5>User Esther</h5>
                <p class="font-weight-light mb-0">"We had so much fun I immediately booked a return trip back the
                    next day! Such a great service!"</p>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Join Our Mailing List!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button style="background-color: #5B95B3; border-color: #5B95B3;" type="submit"
                                class="btn btn-block btn-lg btn-primary">Sign up!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>