    <div class="container">
        <div class="row">
            <h3 style="margin-top: 50px">{{fname}}'s Reservations</h3>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <table style="margin-top: 50px" class="table">
                    <thead class="">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">*Link to Host</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Date of Reservation</td>
                            <td>Time of Reservation</td>
                            <td><a href="/yard/{{appointments.yard_id}}">Link to Host</a></td>
                            <td>
                                <button style='font-size:24px'> Edit </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Date of Reservation</td>
                            <td>Time of Reservation</td>
                            <td>Link to Host</td>
                            <td>
                                <button style='font-size:24px'> Edit </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Date of Reservation</td>
                            <td>Time of Reservation</td>
                            <td>Link to Host</td>
                            <td>
                                <button style='font-size:24px'> Edit </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
