<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <img style="height: 250px; width: 250px; margin-left: 50px; margin-top: 50px;" src="../img/justin.png"
                    alt="EXPLAINATION">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p style="margin-top: 5px; text-align: center;"><a style="color: black;" href="#">Update Image</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <p style="font-size: xx-large; margin-top: 50px; margin-bottom: 0; font-weight: bolder;">{{fname}}
                        {{lname}}</p>
                    <p style="font-weight: bold;">Lives in Westminster, CO</p>
                    <p>{{yard.name}}</p>
                    <p> {{yard.description}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li><a style="color: black;" href="#">Update Profile</a></li>
                        <li><a style="color: black;" href="/schedule/:id">Upcoming Guests</a></li>
                        <li><a style="color: black;" href="/addyard">Register a Yard</a></li>
                        <li><a style="color: black;" href="/myreservations/:id">My Reservations</a></li>
                    </ul>
                </div>
            </div>

            <hr size="10" width="100%" color="black">

            <div class="row">
                <div class="col-md-12">
                    <p style="margin-top: 15px; font-size: x-large; font-weight: bolder;">2 Reviews</p>
                </div>
            </div>
            <div style="border-style: solid; border-color: black; border-width: 2px;">
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom: 0;font-weight: bold;">04/10/2021</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-weight: bold;">Jenn Greiner</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><img style="float: left; width: 100px; height: 100px; margin-right: 10px;"
                                src="../img/jenn.png"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem
                            nisi iure placeat, excepturi autem eos? Repudiandae corporis
                            odio accusamus earum adipisci! Ipsam impedit velit autem consectetur magnam, laborum culpa
                            ipsa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, aliquam doloremque.
                            Doloribus illo nihil officia provident,
                            quas placeat harum repudiandae dicta eos soluta quia! Quam temporibus sint consequuntur
                            dolorum explicabo. </p>
                    </div>
                </div>
            </div>
            <div style="border-style: solid; border-color: black; border-width: 2px;">
                <div class="row">
                    <div class="col-md-12">
                        <p style="margin-bottom: 0; font-weight: bold;">04/09/2021</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-weight: bold;">Gabe Quakkelaar</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><img style="float: left; width: 100px; height: 100px; margin-right: 10px;"
                                src="../img/gabe.png"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem
                            nisi iure placeat, excepturi autem eos? Repudiandae corporis
                            odio accusamus earum adipisci! Ipsam impedit velit autem consectetur magnam, laborum culpa
                            ipsa! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, aliquam doloremque.
                            Doloribus illo nihil officia provident,
                            quas placeat harum repudiandae dicta eos soluta quia! Quam temporibus sint consequuntur
                            dolorum explicabo. </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>