
  <!-- User's Yard -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h3>*Client's* Yard</h3>
                </div>
                <div class="col-lg-4">
                    <h3></h3>
                </div>
                <div class="col-lg-4">
                    <h3></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img id="yardpic" class="thumbnails" src="../img/yard1.jpg" alt="EXPLAINATION">
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- Yard Descriptions -->
    <div class="container">
        <div class="row yardtext">
            <div class="col-lg-7">
                <div class="row">
                    <h3>*Yard Feature* hosted by *User*</h3>
                </div>
                <div class="row">
                    <p style="font-weight: bolder">Client Location</p>
                </div>
                <div class="row">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, dicta sapiente! Eius recusandae tempore facilis itaque! Saepe aut reprehenderit ea temporibus minus expedita explicabo error, ducimus necessitatibus consequatur eligendi dicta. Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Aliquid autem eveniet incidunt vero ipsam explicabo atque, itaque rerum debitis illo eius inventore distinctio in molestiae? Nemo labore aspernatur blanditiis natus. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit. Voluptatum laboriosam ipsam error iure aliquid animi obcaecati? Nemo odit reiciendis vel quaerat molestias facere sed fugiat eos! Consequuntur illum facere libero.
                    </p>
                </div>

            </div>
            <div class="col-lg-1">
                <h3></h3>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <h5 class="card-header">COST</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                        <p> </p>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>