    <div class="container">
        <div class="row">
            <h3 style="margin-top: 50px"> <img style="height: 100px; width: 100px;" src="../img/jenn.png" alt="image of person who owns the yard"> Jenn's Yard Schedule</h3>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <table style="margin-top: 50px" class="table">
                    <thead class="">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Guests</th>
                            <th scope="col"></th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>04/12/2021</td>
                            <td>05:00pm</td>
                            <td><img style="height: 40px; width: 40px;" src="../img/justin.png" alt="image of person who has a reservation"> Justin and Charley</td>
                            <td>
                                <button style='font-size:24px'> Edit </button>
                                <button style='font-size:24px'> Cancel </button>

                            </td>
                        </tr>
                        <tr>
                            <td>04/13/2021</td>
                            <td>02:00pm</td>
                            <td><img style="height: 40px; width: 40px;" src="../img/gabe.png" alt="image of person who has a reservation"> Gabe and Maverick</td>
                            <td>
                                <button style='font-size:24px'> Edit </button>
                                <button style='font-size:24px'> Cancel </button>

                            </td>
                        </tr>
                        <tr>
                            <td>04/14/2021</td>
                            <td>10:00am</td>
                            <td><img style="height: 40px; width: 40px;" src="../img/justin.png"> Justin and Charley</td>
                            <td>
                                <button style='font-size:24px'> Edit </button>
                                <button style='font-size:24px'> Cancel </button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
